
    <div class="row">
        <div class="col">
            <!-- Acc Setting -->
            <form method="post">
                <input class="form-control mb-3 mt-3" type="text" placeholder="Имя" name="Name">
                <span class="text-danger" asp-validation-for="Name"></span>
                <input class="form-control mb-3" type="email" placeholder="Email" name="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
                <input class="form-control mb-3" type="tel" placeholder="Телефон" name="Phone">
                <span class="text-danger" asp-validation-for="Phone"></span>
                <a href="#" class="primary">Изменить Пароль</a>
                <br>
                <button type="submit" class="btn btn-primary mt-2">Сохранить</button>
            </form>
        </div>
    </div>
