@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Админ Панель</h2>

<a type="button" class="btn btn-primary btn-lg btn-block" asp-action="UserList" asp-controller="Admin">Список пользователей</a>
<a type="button" class="btn btn-secondary btn-lg btn-block" asp-action="RoleList" asp-controller="Admin">Список ролей</a>
